#quizPopup {

  height: auto;
  width: 50%;
  border-radius: 20px;
  display: none;
  background-color: white;
  color: gray;
  font-family: knewave;
  font-size: 20px;
  margin: 40px;
  padding: 20px;
  position: absolute;
  top: 100px;
  left: 30%;
  z-index: 10;

  label {
    font-family: knewave;
    font-size: 9px;
    font-size: 20px;
    color: gray;
  }

    p {
      color:red;
      font-size: 30px;
    }

}


form {

  font-family: knewave;
  font-size: 20px;
  margin: 10px;
  padding: 10px;

}

.form {
  font-family: knewave;
  font-size: 15px;
  margin: 5px;
  padding: 10px;

  h4 {
    color:yellow
  }

}


.stopBtn {

  border-radius: 5px;
  font-size: 12px;
  background-color: white;


  .stopBtn:hover {
    background-color: white;
  }

}

#showPlayerTurn {
  position: absolute;
  top: 20px;
  left: 40%;
  z-index: 15;
  margin: 20px;
  padding: 15px;
  font-family: knewave;
  font-size: 30px;
  color: black;
}

#gameOverDiv {
  position: absolute;
  top: 200px;
  left: 30%;
  z-index: 12;
  background-color: white;
  margin: 20px;
  padding: 15px;
  font-family: knewave;
  font-size: 20px;
  border-radius: 20px;
}
