#quizPopup {

  height: 300px;
  width: 60%;
  border-radius: 20px;
  display: none;
  background-color: white;
  font-family: knewave, fantasy;
  font-size: 33px;
  margin: 40px;
  opacity: 0.9;

  position: absolute;
  top: 100px;
  left: 30%;
  z-index: 10;

  label {
    font-family: courier;
    font-size: 20px;
    color: gray;
  }

  .stopBtn {
    font-family: knewave, fantasy;
    font-size: 15px;
    width: 120px;
    height: 50px;
    border-radius: 20px;
  }

}
