//Import global

@import '_variables';
@import '_mixins';

body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}

#hud {
  position: relative;
  z-index: 2;
}

nav {
  font-family: knewave, fantasy;
  font-size: 35px;
}

.navbar-brand {
  font-family: knewave, fantasy;
  font-size: 50px;

}

#quizPopup {

  height: 300px;
  width: 1111px;
  position: absolute;
  z-index: 5px;
  display: none;
  background-color: white;
  font-family: knewave, fantasy;
  font-size: 33px;
  margin: 40px;


label {
    font-family: courier;
    font-size: 20px;
    color: gray;

  }



}

// Import sections

@import '_map';
@import '_userProfiles';
@import '_quizHud';
