//Import global

@import '_variables';
@import '_mixins';

* {
  box-sizing: border-box;
}
body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  height:40px;
  width:100%;

  margin:0px 0px 10px 0px;

  display:block;

  // background-color: rgba(250,0,6,1);

    a {
      width:48%;
      margin: 10px 0px;

      color: yellow;
      font-family: knewave;
      text-align: center;
      &.logout {
        width: 100%;
      }

      a:hover{
        color:yellow;
      }
    }
}

#hud {
  height: 100%;
  width: 30%;
  position: relative;
  z-index: 2;

  background-color: #0d0c47;
  background-image: url('/images/speck.png');
  background-repeat: repeat;
  color: white;
  overflow: auto;
  transition: all 0.5s;

  header {
    width: 100%;
    overflow: hidden;

  }
}

#hud2 {
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #0d0c47;
  background-image: url('/images/speck.png');
  background-repeat: repeat;
  color: white;

  overflow: auto;
  transition: all 0.5s;

  header {
    width: 100%;
    overflow: hidden;
  }
}

a {
  color: yellow;
  font-family: knewave;
  font-size: 22px;
  margin: 15px;
  list-style: none;
}

a:hover {

  color:white;
}

a:active {
  color:white;
}


.btn {

  background-color: #0d0c47;
  color:yellow;
}

.btn:hover{
  background-color: #0d0c47;
}

img {
  width: 100%;
}

#rulesLink {
  display: block;
  text-align: center;
}
.rulesContent {
  font-size: 12px;
  font-family: helvetica;
  height: 300px;
  width: 300px;
  background-color: gray;
  border-radius: 30px;
  margin:15px;
  padding:20px;
  color: white;
  text-align: center;

}

.rulesT {

padding: 2px;
font-size: 14px;
margin: 5px;
text-align: center;

}

#restart {

  border-radius: 15px;
  padding:10px;
}
#content{

  font-family: knewave;
  font-size: 18px;
  color: gray;

  ul {
    font-size: 18px;

  }

  h1{
    font-size: 28px;
    color: red;
  }
}

.conquer {
  color: #0d0c47;
  background-color: white;
  margin-top: 20px;
  margin-left: 40px;
  color:red;
  border-radius: 5px;
}

.cPower {
  display: none;
}

// Import sections

@import '_map';
@import '_userProfiles';
@import '_quizHud';
