//Import global

@import '_variables';
@import '_mixins';

* {
  box-sizing: border-box;
  font-family: "classic-comic";
}
body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}

#hud {
  height: 100%;
  width: 70%;
  position: relative;
  z-index: 2;
  background-color: #0d0c47;

  overflow: auto;
  transition: all 0.5s;

  header {
    width: 100%;
    overflow: hidden;
  }
}



nav {
  font-family: monofett, fantasy;
  font-size: 35px;
}

// Import sections

@import '_map';
@import '_userProfiles';
@import '_quizHud';
